body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

header {
    background-color: #1d1d1d;
    color: white;
    font-size: 20px;
    height: 100vh;

   
}

.header_container {
    align-items: center;
}

.header_content {
    align-items: center;
}

.header_img{
    background-image: url(../img/IMG_9512.JPG);
    background-position: top;
    background-size:  auto 100%;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.header_title {
    font-size: 35px;
    text-align: center;
    text-shadow: 0 0 3px black;
}

.header__txt {
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 1px 5px black;
}
.join_wrapper{
    display: flex;
    padding: 35px 0;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.join{
    background-color: rgb(51, 11, 66);
   
    padding: 8px 15px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    border: 1px solid #4b0707;
    outline: none;
    cursor: pointer;
}